* {
  margin: 0;
  padding: 0;
}

/*按鈕預設樣式移除*/
.button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

header {
  box-sizing: border-box;
  display: flex;
  height: 54px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.link-unstyled {
  text-decoration: none;
}

.header-nav__title {
  color: #448899;
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
}

.header-nav__actions {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.text-button {
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.text-button--p10 {
  padding: 10px;
}

main {
  width: 1200px;
  margin: auto;
}

.headline {
  width: 1000px;
  margin: 0px auto 40px auto;
}

.headline__content {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 19px;
  color: #666666;
}

.attraction-info {
  width: 980px;
  height: 200px;
  margin: auto;
  display: flex;
  position: relative;
}

.attraction-image {
  width: 250px;
  height: 200px;
}

.attraction-image__img {
  width: 100%;
  height: 100%;
}

.attraction-detail {
  margin-left: 30px;
  width: 700px;
  height: 170px;
}

.attraction-detail__title,
.attraction-detail__label,
.attraction-detail__info {
  font-family: Noto Sans TC;
  font-size: 16px;
  color: #666666;
}

.attraction-detail__title {
  color: #448899;
  font-weight: 700;
  margin-bottom: 20px;
}

.attraction-detail__label {
  font-weight: 700;
}

.attraction-detail__info {
  font-weight: 500;
}

.attraction-detail__container {
  box-sizing: border-box;
  height: 24px;
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.attraction-detail__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.separator {
  width: 1200px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  margin: 40px auto 40px auto;
}

.contant-form {
  width: 980px;
  margin: auto;
}

.info-section__header {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 19px;
  color: #666666;
  margin-bottom: 20px;
}

.info-section__field {
  height: 38px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.info-section__label {
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
}

.info-section__input {
  height: 100%;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.info-section__notice {
  box-sizing: border-box;
  height: 24px;
  padding: 5px 0px 5px 0px;
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
  line-height: 13.3px;
}

.payment-form {
  width: 980px;
  margin: auto;
}

.confirm {
  width: 980px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.confirm__price {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  color: #666666;
}

.confirm__button {
  background-color: #448899;
  color: #ffffff;
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 19px;
  padding: 10px 20px;
  border-radius: 5px;
  line-height: 16px;
  width: 173px;
  height: 36px;
  border: transparent;
  margin-top: 42px;
}
