* {
  margin: 0;
  padding: 0;
}

/*按鈕預設樣式移除*/
.button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

header {
  display: flex;
  height: 54px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.link-unstyled {
  text-decoration: none;
}

.header-nav__title {
  color: #448899;
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
}

.header-nav__actions {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.text-button {
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.text-button--p10 {
  padding: 10px;
}

.hero-section {
  background-image: url("../static/welcome.png");
  background-size: cover;
  height: 320px;
  display: flex;
}

.hero-section__container {
  width: 1180px;
  height: 149px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hero-section__slogan {
  height: 78px;
  margin-bottom: 25px;
}

.hero-section__primary-text {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 15px;
  color: #f8f8f8;
}

.hero-section__secondary-text {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  color: #f8f8f8;
}

.hero-section__search {
  display: flex;
}

.hero-section__input {
  width: 400px;
  height: 46px;
  padding: 10px;
  font-family: Noto Sans TC;
  font-weight: 500;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hero-section__button {
  height: 46px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal__container {
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ffffff;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 60px 0px #aaaaaa;
}

.signin__container {
  width: 340px;
  height: 275px;
}

.signup__container {
  width: 340px;
  height: 332px;
}

.modal__border {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 10px;
  background-image: linear-gradient(90deg, #66aabb, #337788);
}

.signin__content {
  width: 310px;
  height: 235px;
}

.signup__content {
  width: 310px;
  height: 292px;
}

.modal__content {
  margin: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__title {
  box-sizing: border-box;
  width: 310px;
  height: 27px;
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  margin-bottom: 15px;
}

.modal__input {
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  color: #757575;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  padding: 15px;
  margin-bottom: 10px;
}

.modal__button {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #448899;
  width: 310px;
  height: 47px;
}

.modal__prompt {
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
}

main {
  margin: auto;
  padding: 40px 0px 40px 0px;
}

.station-list {
  width: 1200px;
  height: 70px;
  display: flex;
  padding: 0px 0px 20px 0px;
  margin: auto;
}

.station-list__container {
  padding: 13px 10px 13px 10px;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
}

.station-list__arrow {
  padding: 9px 0px 9px 15px;
}

.station-list__name {
  display: flex;
  padding: 5px 15px 5px 15px;
  text-align: center;
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: 500;
  color: #666666;
  cursor: pointer;
}

.attractions {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.attraction-card {
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  width: 270px;
  height: 242px;
  margin: 15px;
  position: relative;
}

.attraction-card img {
  width: 100%;
  height: 197px;
  display: block;
}

.attraction-card__name {
  background-color: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.6;
  position: absolute;
  bottom: 43px;
}

.attraction-card__info {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #757575;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
}

.attraction-card__mrt {
  width: 50%;
  height: 25px;
}

.attraction-card__category {
  width: 50%;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}

footer {
  box-sizing: border-box;
  height: 104px;
  background-color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}

footer div {
  text-align: center;
  margin: auto;
  width: 234px;
  height: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .hero-section__container {
    width: 560px;
  }

  .hero-section__input {
    width: 310px;
  }

  .station-list {
    width: auto;
  }

  .attractions {
    width: auto;
    justify-content: center;
  }

  .attraction-card {
    width: 295px;
    height: 261px;
  }

  .attraction-card img {
    height: 216px;
  }
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .hero-section__container {
    width: 320px;
  }

  .hero-section__input {
    width: 225px;
  }

  .station-list {
    width: auto;
  }

  .attractions {
    width: auto;
    justify-content: center;
  }

  .attraction-card {
    width: 320px;
    height: 280px;
  }

  .attraction-card img {
    height: 235px;
  }
}
