<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>景點資訊</title>
    <link rel="stylesheet" href="/static/attraction.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <a
          href="http://34.225.182.0:3000/"
          class="header-nav__title link-unstyled"
          >台北一日遊</a
        >
        <div class="header-nav__actions">
          <button
            class="header-nav__booking text-button text-button--p10 button"
          >
            預定行程
          </button>
          <button
            class="header-nav__signin text-button text-button--p10 button"
          >
            登入/註冊
          </button>
        </div>
      </nav>
    </header>

    <div class="modal modal-signin">
      <div class="signin__container modal__container">
        <div class="modal__border"></div>
        <div class="modal__content signin__content">
          <button class="modal__close signin__close button">
            <img src="/static/icon_close.png" />
          </button>
          <p class="modal__title">登入會員帳號</p>
          <form class="signin__form">
            <input
              type="email"
              placeholder="輸入電子信箱"
              class="modal__input signin__email"
            />
            <input
              type="password"
              placeholder="輸入密碼"
              class="modal__input signin__password"
            />
            <button class="modal__button signin__button button">
              登入帳戶
            </button>
          </form>
          <p class="modal__prompt signin__prompt">還沒有帳戶？點此註冊</p>
        </div>
      </div>
    </div>

    <div class="modal modal-signup">
      <div class="signup__container modal__container">
        <div class="modal__border"></div>
        <div class="modal__content signup__content">
          <button class="modal__close signup__close button">
            <img src="/static/icon_close.png" />
          </button>
          <p class="modal__title">註冊會員帳號</p>
          <form class="signup__form">
            <input
              type="text"
              placeholder="輸入姓名"
              class="modal__input signup__name"
            />
            <input
              type="email"
              placeholder="輸入電子信箱"
              class="modal__input signup__email"
            />
            <input
              type="password"
              placeholder="輸入密碼"
              class="modal__input signup__password"
            />
            <button class="modal__button button">註冊新帳戶</button>
          </form>
          <p class="modal__prompt signup__prompt">已經有帳戶了？點此登入</p>
        </div>
      </div>
    </div>

    <div class="photos-booking-section">
      <section class="attraction-infos">
        <div class="booking-infos">
          <p class="booking-title">訂購導覽行程</p>
          <p class="booking-description">
            以此景點為中心的一日行程，帶你探索城市角落故事
          </p>
          <form class="booking-form">
            <label class="booking-date"
              >選擇日期：<input type="date" class="date"
            /></label>
            <div class="booking-time">
              選擇時間：
              <input
                type="radio"
                id="morning"
                name="time"
                value="morning"
                checked
              />
              <label for="morning">上半天</label>

              <input
                type="radio"
                id="afternoon"
                name="time"
                value="afternoon"
              />
              <label for="afternoon">下半天</label>
            </div>

            <p class="booking-money">導覽費用：<span> 新台幣 2000 元</span></p>
            <button class="booking-button" type="button">開始預約行程</button>
          </form>
        </div>
      </section>
    </div>

    <div class="separator"></div>
    <div class="attraction-details"></div>
    <footer><p>COPYRIGHT © 2023 台北一日遊</p></footer>

    <script src="/static/attraction.js"></script>
  </body>
</html>
