<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>景點資訊</title>
    <link rel="stylesheet" href="/static/attraction.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Sans+TC:wght@500;700&family=Open+Sans:wght@300;400&family=Playfair+Display:ital@0;1&family=Poppins:wght@100;200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="site-header">
        <div class="site-title">台北一日遊</div>
        <nav class="header-buttons">
          <button class="schedule-button btn">預定行程</button>
          <button class="auth-button btn">登入/註冊</button>
        </nav>
      </div>
    </header>
    <script src="/static/attraction.js"></script>
  </body>
</html>
