<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>預定頁面</title>
    <link rel="stylesheet" href="/static/booking.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <a
          href="http://34.225.182.0:3000/"
          class="header-nav__title link-unstyled"
          >台北一日遊</a
        >
        <div class="header-nav__actions">
          <button class="text-button text-button--p10 button">預定行程</button>
          <button
            class="header-nav__signin text-button text-button--p10 button"
          >
            登入/註冊
          </button>
        </div>
      </nav>
    </header>

    <main>
      <div class="headline">
        <p class="headline__content">您好，Yakko，待預定的行程如下：</p>
      </div>

      <section class="attraction-info">
        <figure class="attraction-image">
          <img class="attraction-image__img" src="/static/welcome.png" />
        </figure>
        <div class="attraction-detail">
          <p class="attraction-detail__title">台北一日遊：平安鐘</p>
          <p class="attraction-detail__container">
            <span class="attraction-detail__label">日期：</span
            ><span class="attraction-detail__info">2021-04-23</span>
          </p>
          <p class="attraction-detail__container">
            <span class="attraction-detail__label">時間：</span
            ><span class="attraction-detail__info">早上9點到下午4點</span>
          </p>
          <p class="attraction-detail__container">
            <span class="attraction-detail__label">費用：</span
            ><span class="attraction-detail__info">新台幣2000元</span>
          </p>
          <p class="attraction-detail__container">
            <span class="attraction-detail__label">地點：</span
            ><span class="attraction-detail__info"
              >臺北市大安區忠孝東路4段</span
            >
          </p>
          <div class="attraction-detail__icon">
            <img src="/static/icon_delete.png" />
          </div>
        </div>
      </section>
      <div class="separator"></div>
      <section class="contant-form">
        <div class="info-section__header">您的聯絡資訊</div>
        <div class="info-section__field">
          <label for="name" class="info-section__label">聯絡姓名：</label>
          <input type="text" id="name" class="info-section__input" />
        </div>

        <div class="info-section__field">
          <label for="email" class="info-section__label">電子郵箱：</label>
          <input type="email" id="email" class="info-section__input" />
        </div>

        <div class="info-section__field">
          <label for="phone" class="info-section__label">聯絡電話：</label>
          <input type="text" id="phone" class="info-section__input" />
        </div>
        <div class="info-section__notice">
          請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
        </div>
      </section>
      <div class="separator"></div>
    </section>
  
    </main>
  </body>
</html>
