<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>預定頁面</title>
    <link rel="stylesheet" href="/static/booking.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <a
          href="http://34.225.182.0:3000/"
          class="header-nav__title link-unstyled"
          >台北一日遊</a
        >
        <div class="header-nav__actions">
          <button
            class="header-nav__booking text-button text-button--p10 button"
          >
            預定行程
          </button>
          <button
            class="header-nav__signin text-button text-button--p10 button"
          >
            登入/註冊
          </button>
        </div>
      </nav>
    </header>
    <div class="page__container">
      <main>
        <div class="modal modal-signin">
          <div class="signin__container modal__container">
            <div class="modal__border"></div>
            <div class="modal__content signin__content">
              <button class="modal__close signin__close button">
                <img src="static/icon_close.png" />
              </button>
              <p class="modal__title">登入會員帳號</p>
              <form class="signin__form">
                <input
                  type="email"
                  placeholder="輸入電子信箱"
                  class="modal__input signin__email"
                />
                <input
                  type="password"
                  placeholder="輸入密碼"
                  class="modal__input signin__password"
                />
                <button class="modal__button signin__button button">
                  登入帳戶
                </button>
              </form>
              <p class="modal__prompt signin__prompt">還沒有帳戶？點此註冊</p>
            </div>
          </div>
        </div>

        <div class="modal modal-signup">
          <div class="signup__container modal__container">
            <div class="modal__border"></div>
            <div class="modal__content signup__content">
              <button class="modal__close signup__close button">
                <img src="static/icon_close.png" />
              </button>
              <p class="modal__title">註冊會員帳號</p>
              <form class="signup__form">
                <input
                  type="text"
                  placeholder="輸入姓名"
                  class="modal__input signup__name"
                />
                <input
                  type="email"
                  placeholder="輸入電子信箱"
                  class="modal__input signup__email"
                />
                <input
                  type="password"
                  placeholder="輸入密碼"
                  class="modal__input signup__password"
                />
                <button class="modal__button button">註冊新帳戶</button>
              </form>
              <p class="modal__prompt signup__prompt">已經有帳戶了？點此登入</p>
            </div>
          </div>
        </div>

        <div class="headline">
          <p class="headline__content"></p>
        </div>
        <div class="main-info">
          <section class="attraction-info">
            <figure class="attraction-image">
              <img class="attraction-image__img" src="/static/welcome.png" />
            </figure>
            <div class="attraction-detail">
              <p class="attraction-detail__title">台北一日遊：平安鐘</p>
              <p class="attraction-detail__container">
                <span class="attraction-detail__label">日期：</span
                ><span
                  class="attraction-detail__info attraction-detail__date"
                ></span>
              </p>
              <p class="attraction-detail__container">
                <span class="attraction-detail__label">時間：</span
                ><span
                  class="attraction-detail__info attraction-detail__time"
                ></span>
              </p>
              <p class="attraction-detail__container">
                <span class="attraction-detail__label">費用：</span
                ><span
                  class="attraction-detail__info attraction-detail__price"
                ></span>
              </p>
              <p class="attraction-detail__container">
                <span class="attraction-detail__label">地點：</span
                ><span
                  class="attraction-detail__info attraction-detail__address"
                ></span>
              </p>
              <div class="attraction-detail__icon">
                <img src="/static/icon_delete.png" />
              </div>
            </div>
          </section>
          <div class="separator"></div>
          <section class="contant-form">
            <div class="info-section__header">您的聯絡資訊</div>
            <div class="info-section__field">
              <label for="name" class="info-section__label">聯絡姓名：</label>
              <input type="text" id="name" class="info-section__input" />
            </div>

            <div class="info-section__field">
              <label for="email" class="info-section__label">電子郵箱：</label>
              <input type="email" id="email" class="info-section__input" />
            </div>

            <div class="info-section__field">
              <label for="phone" class="info-section__label">聯絡電話：</label>
              <input type="text" id="phone" class="info-section__input" />
            </div>
            <div class="info-section__notice">
              請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
            </div>
          </section>
          <div class="separator"></div>

          <section class="payment-form">
            <div class="info-section__header">信用卡付款資訊</div>
            <div class="info-section__field">
              <label class="info-section__label">卡片號碼：</label>
              <div class="tpfield" id="card-number"></div>
            </div>

            <div class="info-section__field">
              <label class="info-section__label">過期時間：</label>
              <div class="tpfield" id="card-expiration-date"></div>
            </div>

            <div class="info-section__field">
              <label class="info-section__label">驗證密碼：</label>
              <div class="tpfield" id="card-ccv"></div>
            </div>
          </section>
          <div class="separator"></div>
          <div class="confirm">
            <p class="confirm__price">總價：新台幣 2000 元</p>
            <button class="confirm__button">確認訂購並付款</button>
          </div>
        </div>
      </main>

      <footer class="footer--booking">
        <p class="footer__word">COPYRIGHT © 2023 台北一日遊</p>
      </footer>
    </div>

    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script src="/static/payment.js"></script>
    <script src="/static/booking.js"></script>
  </body>
</html>
