<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>預定頁面</title>
    <link rel="stylesheet" href="/static/booking.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="header-nav">
        <a
          href="http://34.225.182.0:3000/"
          class="header-nav__title link-unstyled"
          >台北一日遊</a
        >
        <div class="header-nav__actions">
          <button class="text-button text-button--p10 button">預定行程</button>
          <button
            class="header-nav__signin text-button text-button--p10 button"
          >
            登入/註冊
          </button>
        </div>
      </nav>
    </header>

    <main>
      <div class="headline">
        <p class="headline__content">您好，Yakko，待預定的行程如下：</p>
      </div>

      <section class="attraction-infos">
        <figure class="attraction-image">
          <img class="attraction-image__img" src="/static/welcome.png" />
        </figure>
      </section>
    </main>
  </body>
</html>
