* {
  margin: 0;
  padding: 0;
}

/*按鈕預設樣式移除*/
.button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

header {
  display: flex;
  height: 54px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.link-unstyled {
  text-decoration: none;
}

.header-nav__title {
  color: #448899;
  font-family: Noto Sans TC;
  font-size: 30px;
  font-weight: 700;
}

.header-nav__actions {
  flex: auto;
  display: flex;
  justify-content: flex-end;
}

.text-button {
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.text-button--p10 {
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal__container {
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #ffffff;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 60px 0px #aaaaaa;
}

.signin__container {
  width: 340px;
  height: 275px;
}

.signup__container {
  width: 340px;
  height: 332px;
}

.modal__border {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 10px;
  background-image: linear-gradient(90deg, #66aabb, #337788);
}

.signin__content {
  width: 310px;
  height: 235px;
}

.signup__content {
  width: 310px;
  height: 292px;
}

.modal__content {
  margin: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__title {
  box-sizing: border-box;
  width: 310px;
  height: 27px;
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #666666;
  text-align: center;
  margin-bottom: 15px;
}

.modal__input {
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  color: #757575;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 310px;
  height: 47px;
  padding: 15px;
  margin-bottom: 10px;
}

.modal__button {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 19px;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #448899;
  width: 310px;
  height: 47px;
}

.modal__button:hover {
  background-color: #3a6773;
}

.modal__button:active {
  background-color: #3a6773;
  transform: translateY(3px);
}

.modal__prompt {
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 16px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.order {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.order__message {
  color: #666666;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 40px;
}

.order__number {
  color: #868686;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.order__reminder {
  color: #868686;
  font-family: Noto Sans TC;
  font-weight: 500;
  font-size: 18px;
}

.footer--empty {
  margin-top: 40px;
  box-sizing: border-box;
  height: 104px;
  background-color: #757575;
  flex-grow: 1;
  display: flex;
  padding-top: 40px;
}

.footer__word--empty {
  text-align: center;
  margin: 0px auto;
  width: 234px;
  height: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
